body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: none;
  height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
}

.app-header {
  text-align: center; /* Center the header text */
  margin-top: 2rem; /* Add margin to the top */
}

.app-title {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem; /* Set font size */
  font-weight: bold; /* Set font weight */
  color: #333; /* Set text color */
}

#logo-image {
  width: 30px;
  height: auto; /* Set the logo image size */
  margin-right: 10px;
}

.nav-link.active {
  font-weight: bold; /* Make the active link bold */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 2px solid navy; /* Add a bottom border to the active link */
}

.search-bar {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 1rem 1rem; /* Add margin to the search bar */
}

.search-input {
  padding: 0.5rem; /* Add padding to the input */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem; /* Set font size */
  width: 50%; /* Set width to 50% */
  border-radius: 4px; /* Round the corners of the input */
  border: 1px solid rgba(238, 238, 238, 0.793); /* Add a border to the input */
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.book-titles {
  margin: 3rem 1rem; /* Add margin to the book titles */
  margin-bottom: 1rem; /* Add margin to the bottom */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; /* Set font family */
  font-size: 1.5rem; /* Set font size */
  font-weight: 600; /* Set font weight */
  color: #333; /* Set text color */
}

.books-title {
  text-align: center; /* Center the title */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 2 rem 0; /* Add margin to the title */
}

.books-grid {
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Create a responsive grid */
  gap: 1.5rem; /* Add space between grid items */
  padding: 1rem; /* Add padding to the grid */
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.book-card {
  border: 1px solid #ccc; /* Add a border to the book card */
  border-radius: 8px; /* Round the corners of the card */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem; /* Add padding inside the card */
  text-align: center; /* Center the text inside the card */
  background-color: rgba(250, 244, 231, 0.793) !important;
  cursor: pointer; /* Change cursor to pointer on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.book-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
  transition: transform 0.2s; /* Smooth transition for scaling */
}

.book-cover {
  width: 100%; /* Make the cover image responsive */
  height: 250px; /* Set a fixed height for the cover image */
  object-fit: cover; /* Cover the entire area of the image */
  border-radius: 4px; /* Round the corners of the image */
}

.book-title {
  margin-top: 0.5rem; /* Add margin to the title */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.book-author {
  color: #555; /* Set a gray color for the author */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.9rem; /* Set a smaller font size for the author */
}

.single-book {
  max-width: 600px; /* Set a max width for the book details */
  margin: 1rem auto; /* Center the book details */
  margin-top: 50px;
  padding: 50px; /* Add padding */
  background-color: rgba(250, 244, 231, 0.793); /* Set a white background */
  border-radius: 4%; /* Round the corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center; /* Center the text */
}

.single-book h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem; /* Set a larger font size for the title */
  margin-bottom: 1rem; /* Add margin below the title */
}

.single-book h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem; /* Set a larger font size for the author */
  color: gray; /* Set a gray color for the author */
  margin-bottom: 1rem; /* Add margin below the author */
}

.books-cover {
  width: 200px; /* Make the cover image responsive */
  height: auto; /* Set a fixed height for the cover image */
  border-radius: 4px; /* Round the corners of the image */
  margin-bottom: 1rem; /* Add margin below the image */
}

.single-book p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem; /* Set a font size for the description */
  line-height: 1.5; /* Set line height for readability */
  margin-bottom: 1rem; /* Add margin below the description */
}

.signInContainer {
  margin-top: 40px !important;
  display: block;
  background-color: rgba(250, 244, 231, 0.793);
  border: transparent;
  border-radius: 6%;
  padding: 50px;
  text-align: left;
  width: 400px;
  justify-self: anchor-center !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signIn {
  justify-self: center;
  padding-bottom: 10px;
}

label {
  padding-left: 5px;
}

h2 {
  display: flex;
  justify-content: center !important;
}

.bg-light {
  --bs-bg-opacity: 0 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  margin-top: 40px;
  --bs-bg-opacity: 1;
  background-color: rgba(250, 244, 231, 0.793) !important;
  border-radius: 10px;
  min-width: 200px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.p4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.registerContainer {
  display: flex !important;
  justify-content: center !important;
  padding-top: 20px;
  padding-right: 10px;
}

.registerBackground {
  background-color: rgba(250, 244, 231, 0.793);
  margin-top: 40px;
  justify-content: center !important;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-self: anchor-center;
  border-radius: 6%;
}

button {
  background-color: rgb(246, 223, 170);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 10px;
  cursor: pointer;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
}

.update-user-bg {
  background: url("../assets/bg-locker.jpg") no-repeat center center fixed;
  background-size: cover;
}
