.nav-link.active {
  font-weight: bold; /* Make the active link bold */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 2px solid white; /* Add a bottom border to the active link */
}

.signInContainer {
  margin-top: 40px !important;
  display: block;
  background-color: rgba(250, 244, 231, 0.793);
  border: transparent;
  border-radius: 6%;
  padding: 50px;
  text-align: left;
  width: 400px;
  justify-self: anchor-center !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signIn {
  justify-self: center;
  padding-bottom: 10px;
}

label {
  padding-left: 5px;
}

h2 {
  display: flex;
  justify-content: center !important;
}

.bg-light {
  --bs-bg-opacity: 0 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  margin-top: 40px;
  --bs-bg-opacity: 1;
  background-color: rgba(250, 244, 231, 0.793) !important;
  border-radius: 10px;
  min-width: 200px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.p4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.registerContainer {
  display: flex !important;
  justify-content: center !important;
  padding-top: 20px;
  padding-right: 10px;
}

.registerBackground {
  background-color: rgba(250, 244, 231, 0.793);
  margin-top: 40px;
  justify-content: center !important;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-self: anchor-center;
  border-radius: 6%;
}

.update-user-bg {
  background: url("../assets/bg-locker.jpg") no-repeat center center fixed;
  background-size: cover;
}

.username-link:hover {
  color: #007bff !important; /* Bootstrap primary blue, or any color you prefer */
  text-decoration: underline !important;
}
